@charset "UTF-8";

* {
	font-family: 'S-Core Dream 6';
}
/***************/
/* bmmain.css */
/**************/
.ye-bookstatus {
	margin-top: 10px;
	margin-left: 10px;
	padding: 20px;
}

.ye-bookstatus-title {
	float: left;
	font-family: 'S-Core Dream 6';
	margin-top: 10px;
	margin-left: 10px;
	padding: 20px;
}

.ye-guide {
	margin-top:15px;
	padding: 10px;
	margin-right: 20px;
	width: 1350px;
	float: none;
}

.ye-book a {
	text-decoration: none;
	font-size: 14pt;
	color: black;
}

.ye-book {
	margin-left: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 20px;
	float: none;
}

.ye-bookwait {
	margin-top: -10px;
	float: left;
}

.ye-bookmaking {
	margin-top: 15px;
}

#mbutton {
	padding-top: 10px;
}

.ye-book img {
	width: 170px;
	height: 240px;
}

.ye-bw {
	float: left;
	margin-right: 35px;
}

.ye-bm {
	float: left;
	margin-right: 35px;
}

.ye-bm .progress {
	margin-top: -10px;
}

/****************/
/* bookinfo.css */
/****************/
.ye-bookimg {
	margin-top: -25px;
	margin-left: 40px;
	padding: 5px;
}

.ye-bookimg img {
	width: 240px;
	height: 360px;
}

#ye-bookinfo {
	float: left;
	margin-top: -25px;
	margin-left: 45px;
}

.ye-make-button {
	position: relative;
	bottom: -70px;
	margin-right: 80px;
}

.ye-book-count {
	position: relative;
	bottom: -30px;
	left: 1010px;
	display: auto;
}

.ye-book-count .statistic{
	position: relative;
	left: 10px;
	bottom: 15px;
}

.ye-book-count img {
	width: 15%;
	height: 15%;
	position: relative;
	bottom: 30px;
	left:10px;
}

:root {
  --size: 310px;
  --bord: 55px;
}

.chart {
  width: var(--size);
  height: var(--size);
  margin: -1em auto;
  margin-top: -5.5em;
  border-radius: 60%;
  background-image: conic-gradient(#ffa500 var(--value), lightgrey var(--value));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--bord));
  height: calc(100% - var(--bord));
  background: white;
  border-radius: inherit;
}

#donut {
  position: relative;
  z-index: 1;
  font-size: 4.3em;
}


/*************/
/* guide.css */
/*************/
.ye-bookguide {
	float: left;
	font-family: 'S-Core Dream 6';
	margin-top: 10px;
	margin-left: 20px;
	padding: 20px;
}

.ye-bookguide2 {
	margin-top: 5px;
	margin-left: 40px;
	padding: 20px;
	width: 1350px;
	background-color: #f7f7f7
}

.ye-bookguide2 p {
	font-family: 'S-Core Dream 4';
}

.ye-bookguide h3 {
	margin-top: -20px;
	margin-left: 0px;
	padding-left: 0px;
}

.ye-make-button2 {
	position: relative;
	bottom: 80px;
	margin-right: 80px;
}

/**********************/
/* bookmakingmain.css */
/**********************/
.ui.yellow.button{
	font-family:'S-Core Dream 6';
	color:white;
}

.ui.button{
	font-family:'S-Core Dream 6';
}

#guide1{
	background-color: transparent !important;
}

#up{
	font-size: 14px;
}

/**********************/
/* bookmakinglist.css */
/**********************/


/**********************/
/* bookwaitnglist.css */
/**********************/
