@charset "UTF-8";

ul {
	margin: 0;
	padding: 0;

}

li {

list-style-type: none;

}

a {

text-decoration: none;

color: inherit;

}

.ui action input{
	align : center;
	margin-top: 30px;
}
.ui compact selection dropdown{
	margin: 0;
}

.my-section{
   padding-top: 130px;
   padding-bottom: 70px;
   padding-left: 30px;
   padding-right: 30px;
   
}
.yu-top5{/*신간도서5개 추천영역  */
    
    margin-top:10px;
    text-align:center;
	
}

.yu-booklist{/* 책 목록 10개 */
    text-align:center;
}

.yu-bookdetailimg{/* 도서상세보기에 들어갈 책 이미지 */
     margin-left: 80px;
    margin-top : 10px;
     text-align:center;
}
.detailimg{  /* 도서상세보기 에서 보일 이미지 */
	width: 250px;
	

}

.yu-bookdetailinfo{/* 도서상세보기에 들어갈 제목,저자,출판사,출판일,옮긴이 */
   margin-top : 70px;
   /* padding : 10px; */
   text-align: center;
   font-size: 25px;
   
}
.yu-booktitle{
	text-align:center;
	font-size : 20px;
	
   
}

.yu-bookauthor{/*yu-bookdetailinfo div 안에 들어갈  저자명  */
}

.yu-bookpublish{/* yu-bookdetailinfo div 안에 들어갈  출판사 */
}

.yu-bookdate{/* yu-bookdetailinfo div 안에 들어갈  출판날짜 */
}

.yu-bookdetailintro{/* 도서상세보기에 들어갈 도서소개 */
   
   padding : 60px;
   text-align: center;
   font-size: 16px
}

.yu-ui buttons{
	
}

.yu-like{/*관심도서 추가버튼  */

  
}

#yu-playbutton{
	margin-left : 200px;
	margin-right : 1100px;
width: 100px;
}

.yu.textbook{
   width : 300px;
	height: 1500px auto;
}

.ui left labeled icon button{
	margin-top: 600px;
}

.yu-table_img{
	width:40px;
	height:40px;
	
}

.yu-bookimg1{
	
}

.yu-booktitle{
	
}

.yu-recent5{
	
}

.yu-booktitle{
	
}