@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
	font-family : 'a타이틀고딕3';
}

body { 
	color : #af59d5;
	}
	
hr { clear : left;}

a { text-decoration : none;  }

nav { align : center; }

nav ul { list-style : none; }

nav ul li {
	weight: 100%;
	height : 100%;
}

div {
	
	width : 150px;
	height : 35px;
	margin : 3px;

}

div a {
	text-decoration : none;
	display : block;
	width : 400px;
	height : 100%;
	text-align : center;
	color : #fff;
	font-size : 14pt;
	font-weight : bold;
}

nav ul li a:hover {
	background : #edb41b;	
}

table {
	width:700px;
	height: 500px;
	margin-left: 150px;
	border: 10px;
	border-color: #fff;
	background : #f1cb45;
}




