@charset "UTF-8";

@font-face {
	font-family: 'S-CoreDream-6Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
	}

* {
	font-family: 'S-CoreDream-6Bold';
}


.my-section{
   padding-top: 10%;
   padding-bottom: 70px;
   padding-left: 30px;
   padding-right: 30px;
}

/* 마이페이지 섹션 */
.hy-section{
	float:left;
	padding-top: 5%;
    padding-bottom: 70px;
    padding-left: 20%;
    padding-right: 30px;
    overflow:hidden;
}

/* 내문의 페이지 섹션 */
.hy-section2{
	float:left;
	padding-top: 3%;
    padding-bottom: 70px;
    padding-left: 10%;
    padding-right: 30px;
    overflow:hidden;
}

/* 내문의 페이지 알림 상자 */
#hy-alarmdiv{
	width: 1000px;	
}

/* 내문의 페이지 목록 테이블 */
.hy-listTable {
	border-top: 1px solid #fbbe09;
	border-bottom: 1px solid #fbbe09;
	cellspacing: 10px;
	width: 1000px;
	text-align: center;
}

.hy-listTable th{
	height: 30px;
	background: #fbbe09;
	color: #fff;
	text-align: center;
}

.hy-listTable td{
	height: 30px;
	border-bottom: 1px solid #fbbe09;
	color: #6d6d6d;
	text-align: center;
}

/* 마이페이지 섹션 감싸는 div */
.hy-div{
	overflow:hidden;
}

/* 회원탈퇴 내용 박스 */
.quitdiv{
	border:1px grey solid;
	width:800px;
	height:400px;
	padding-top:3%;
	padding-left:5%;
	padding-left:5%;
	padding-bottom:3%;
}

