@charset "UTF-8";

@font-face {
	font-family: 'S-CoreDream-6Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
	}

* {
	font-family: 'S-CoreDream-6Bold';
}

.my-section{
   padding-top: 10%;
   padding-bottom: 70px;
   padding-left: 30px;
   padding-right: 30px;
}

.hy-section{
	float:left;
	padding-top: 5%;
    padding-bottom: 70px;
    padding-left: 20%;
    padding-right: 30px;
    overflow:hidden;
}

.hy-div{
	overflow:hidden;
}

.quitdiv{
	border:1px grey solid;
	width:800px;
	height:400px;
	padding-top:3%;
	padding-left:5%;
	padding-left:5%;
	padding-bottom:3%;
}
